<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><h3>E-Society</h3></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink='/'>Home<span class="sr-only">(current)</span></a>
         
        </li>
        <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" >
             Details
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem routerLink="/House" (click)="$event.preventDefault()">House</a>
              <a ngbDropdownItem routerLink="/Service" (click)="$event.preventDefault()">Service Category</a>
              <a ngbDropdownItem routerLink="/NearService" (click)="$event.preventDefault()">Near By Service Category</a>
              <a ngbDropdownItem routerLink="/FunctionCategory" (click)="$event.preventDefault()">Function Category</a>
              <a ngbDropdownItem routerLink="/FunctionDetails" (click)="$event.preventDefault()">Function Details</a>
              <a ngbDropdownItem routerLink="/OwnerRes" (click)="$event.preventDefault()">Owner Details</a>
              <a ngbDropdownItem routerLink="/Guard" (click)="$event.preventDefault()">Guard Details</a>
              <a ngbDropdownItem routerLink="/Parking" (click)="$event.preventDefault()">Parking Details</a>
              <a ngbDropdownItem routerLink="/Additional" (click)="$event.preventDefault()">Additional Services</a>
              <a ngbDropdownItem routerLink="/Society" (click)="$event.preventDefault()">Society</a>
              <a ngbDropdownItem routerLink="/NearBy" (click)="$event.preventDefault()">NearBy</a>
              <a ngbDropdownItem routerLink="/UserService" (click)="$event.preventDefault()">UserService</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/EmerContact'>Contact<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item form-inline">
          <a class="nav-link" style="text-align: right;">{{name}}<span class="sr-only">(current)</span></a>
          <li class="nav-item" [hidden]="ifpresent">
            <a class="nav-link" (click)="logout()">Logout<span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
    </div>
  </nav>
  
    