<app-user-navbar></app-user-navbar>
<div class="container">
    <h2>Nearby Services</h2>
    <div class="row">
<div class="col-10" [hidden]="showed">
    <table border="1" class="table table-bordered table-dark" >
        <tr class="table-success">
            <td>Nearby Service ID</td>
            <td>Nearby Services Category_ID</td>
            <td>Nearby Services Name</td>
            <td>Nearby Services Contact</td>
            <td>Nearby Services Address</td>
            <td>Nearby Services Distance</td>
            <td>Nearby Services Details</td>
        </tr>
        <tr *ngFor="let item of result">
         <td>{{item.Nearby_Services_ID}}</td>
         <td>{{item.Nearby_Services_Category_ID}}</td>
         <td>{{item.Nearby_Services_Name}}</td>
         <td>{{item.Nearby_Services_Contact}}</td>
         <td>{{item.Nearby_Services_Address}}</td>
         <td>{{item.Nearby_Services_Distance}}</td>
         <td>{{item.Nearby_Services_Details}}</td>
        </tr>
    
    </table>
</div>
<div class="col-4">
    <div class="row"><button type="button" class="btn btn-primary" (click)="Show()">Display All Service</button></div>
    </div>
    </div>
</div>

  
