<router-outlet>
    
</router-outlet>
<!--<div routerLink="addhouse">AddHouse</div>
<div routerLink="addservice">InsertService</div>
<div routerLink="updateservices">UpdateService</div>
<div routerLink="viewservices">ViewService</div>
<div routerLink="viewHouse">ViewHouse</div>
<div routerLink="updateHouse">updatehouse</div>
<div routerLink="updatenearservicecategory">updatenearservicecategory</div>
<div routerLink="addnearservicecategory">addnearservicecategory</div>
<div routerLink="viewnearservicecategory">viewnearservicecategory</div>-->



